python-multipart
pydantic==2.9.2
fastapi==0.110.0
loguru==0.7.2
uvicorn==0.29.0
pypeln==0.4.9
numpy==1.24.4
requests==2.31.0
pymilvus==2.4.3
bs4==0.0.1
lxml==5.2.2
jieba==0.42.1
pypeln==0.4.9
elasticsearch>=8.0.0,<9.0.0
elasticsearch-dsl>=8.0.0,<9.0.0
httpx==0.27.0
pybase62==1.0.0
jieba==0.42.1
gradio==4.44.1
loguru==0.7.2
starlette==0.36.3
sse-starlette==0.3.0
tiktoken==0.6.0
orjson==3.10.0
groq==0.12.0
dashscope==1.17.0
cohere==5.11.4
replicate==1.0.3
qianfan==0.4.12
anthropic==0.21.3
vertexai==1.71.1
pydantic-settings==2.6.1
openai==1.14.3
zhipuai==2.1.5.20230904
ollama==0.3.3
langchain-text-splitters==0.0.1
minio==7.2.12
aiobotocore==2.15.2
pillow==10.2.0